@import "tailwindcss";

@font-face {
  font-family: 'Clash Grotesk';
  src: url('fonts/ClashGrotesk-Regular.woff2') format('woff2'),
       url('fonts/ClashGrotesk-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('fonts/ClashGrotesk-Semibold.woff') format('woff');
  font-weight: 600; /* Semibold */
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-sans: "Clash Grotesk", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #010101;
  color: #FFFCF5;
  overflow: hidden;
  font-family: var(--font-sans); 
}

::selection {
  background-color: #FFFCF5;
  color: #010101;
}